
/* Color name: https://colors.artyclick.com/color-name-finder/ */

:root {
  /* COLORS */
  --caribbean-green: #0DC9B0;
  --porcelain: #F2F2F1;
  --zeus: #231F20;

  /* FONTS */
  --roboto: 'Roboto', sans-serif;
  --source-sans-pro: 'Source Sans Pro';
}
