@import "core.css";

.jumbotron {
  height: 287px;
  background-image: linear-gradient(to right, var(--caribbean-green), transparent), url('../images/jumbotron-image.png');
  width: 100%;
  background-size: cover;
}

#jumbotron-title {
  color: var(--zeus);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--roboto);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

#jumbotron-subtitle {
  color: var(--porcelain);
  font-family: var(--roboto);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    height: 387px;
  }
  #jumbotron-title {
    font-size: 80px;
    padding-top: 40px;
  }
  #jumbotron-subtitle {
    font-size: 26px;
  }
}
